<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum-{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css"  href="/public/assets/style/style.php" >
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="elipse1"></div>
    <div class="elipse2"></div>
    <div class="elipse3"></div>


<nav class="fond-gris menu">
    <div class="prenom">
        <h1>Eric Gigondan</h1>

    </div>

    <div class="lien">

        <div >
            <a href="./"><img src="/public/assets/images/Vectormaison.svg" alt=""><span>Accueil</span> </a>
        </div>
        <div>
        {% if user is not null %}
            <a href="/profil"> <img src="/public/assets/images/person.svg" alt=""><span>Mon Profil</span></a>
        {% else %}
            <a href="/login"> <img src="/public/assets/images/person.svg" alt=""><span>Connexion</span></a>
        {% endif %}
        </div>
        <div>
            <a href="/posts"> <img src="/public/assets/images/Vectorexplore.svg" alt=""><span>Les postes</span></a>
        </div>
        <div>
            <a href="/test"> <img src="/public/assets/images/Groupnewtopic.svg" alt=""><span>Ecrire</span></a>
        </div>
    </div>
    {% if message is not null  %}
        <div style="z-index: 10; background-color: #2B2C3E; border-radius: 15px ; padding: 5px 20px">
            <p>INFORMATION: </p>
            <p class="alert-{{message.type}}"> {{ message.value }}</p>
        </div>
    {% endif %}
</nav>

    <main>
        {% block body %}{% endblock %}
    </main>


</div>
<footer><!-- Contenu de mon footer --></footer>
</body>
</html>