@media (min-width: 0px) and (max-width: 900px) {
    
    article{
        background: #2B2C3E;
        width: 90%;
        margin-bottom: 30px;
        text-align: left;
        padding: 10px;
        border-radius: 16px;
    }
    .contenu{
        width: 100% ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100% ;
    }
}
@media (min-width: 901px) {
    article {
        background: #2B2C3E;
        max-width: 90%;
        margin-bottom: 30px;
        padding: 15px;
        border-radius: 16px;
    }

    .contenu {
        left: 18%;
        width: 80%;
        padding-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .col {
        width: 50%;
    }

    article p {
        font-family: Gilroy-Semibold;
        color: #ffffff;
        font-size: 20px;
    }
}

    