@media (max-width: 900px) {
    



    }
    form{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
    }

    .post {
        background: #2B2C3E;
        width: 90%;
        margin-bottom: 30px;
        padding: 15px;
        border-radius: 16px;
        text-align: center;
    }

    