@media (max-width: 900px) {
    
    article{
        background: #2B2C3E;
        max-width: 100% !important;
        margin-bottom: 30px;
        text-align: left;
        display: flex;
        flex-direction: column;
    }
    .contenu{
        justify-content: center;
        display: flex;
        width: 100% !important;
        justify-content: space-between;
    }
    .post h2 {
        text-align: center;
    }
    .bouton{
        align-items: center;
        justify-content: center;
        flex-direction: column !important;
        display: flex;
        width: 100% !important;
    }

    }
    .post h1{
    text-align: center;
    }
     .post h2 {
        margin: 20px;
    }
    .post{
        padding-top: 20px ;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    article{
        background: #2B2C3E;
        width: 100% ;
        margin-bottom: 30px;
        padding: 15px;
        border-radius: 16px;
    }
    .contenu{

        width: 80%;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        align-items: center;
    }
    article p{
        font-family: Gilroy-Semibold;
        color: #ffffff;
        font-size: 20px;
    }

    .bouton{
        justify-content: center;
        flex-direction: row;
        display: flex;
        width: 40%;
    }

    