{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/public/assets/style/modifpost.css">
{% endblock %}
{% block title %}Les posts{% endblock %}

{% block body %}
    <div>
    <h2 >Création d'un post</h2>
    </div>
    <div class="contenu">

        <article class="post">
            <form method="POST">
                <h2>Créer votre post</h2>
                <label for="title" style="color: white">Titre</label>
                <input type="texte" name="create[title]" placeholder="Titre du post" id="title">
                <br>
                <label for="categorie" style="color: white">Sous-titre</label>
                <input type="texte" name="create[subtitle]" placeholder="sous-titre">
                <br>
                <label for="categorie" style="color: white">Contenu</label>
                <textarea name="create[content]" id="" cols="30" rows="10" placeholder="contenu"></textarea>
                <br>
                <label for="categorie" style="color: white">Catégorie</label>
                <select name="create[categorie]" id="categorie">
                    {% for categorie in categories %}
                            <option value="{{ categorie.id }}">{{ categorie.name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Créer">
            </form>
        </article>
        </div>
{% endblock %}