{% extends 'base.html.twig' %}
{% block title %}Titre post{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/public/assets/style/post.css">
{% endblock %}
{% block body %}
    <div class="contenu">
    <article class="post" >
    <h1>Titre du post</h1>
        <h2>Un chapo</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsam commodi mollitia accusamus possimus,
                qui ducimus soluta nam, asperiores laborum quibusdam alias sint adipisci repellat corporis, dignissimos ullam. Magni, eum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsam commodi mollitia accusamus possimus, <br>
                <br>


                qui ducimus soluta nam, asperiores laborum quibusdam alias sint adipisci repellat corporis, dignissimos ullam. Magni, eum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsam commodi mollitia accusamus possimus,
                qui ducimus soluta nam, asperiores laborum quibusdam alias sint adipisci repellat corporis, dignissimos ullam. Magni, eum.

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsam commodi mollitia accusamus possimus,
                qui ducimus soluta nam, asperiores laborum quibusdam alias sint adipisci repellat corporis, dignissimos ullam. Magni, eum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsam commodi mollitia accusamus possimus,
                qui ducimus soluta nam, asperiores laborum quibusdam alias sint adipisci repellat corporis, dignissimos ullam. Magni, eum.
            </p>
            <div class="info">
                <p class="date">Auteur : Itsatsu</p>
                <p class="date">Date de modification: 20/02/2023</p>
            </div>

            </article>
            <div class="commentaire">
                <form action="">
                    <h2>Ajouter un commentaire</h2>
                    <input type="texte" placeholder="Titre du commentaire">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Entrer ici le contenu de votre commentaire ...."></textarea>
                    <input type="submit">
                </form>
            </div>

            <article class="commentaire" >
                <h3>Un commentaire</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsam commodi mollitia accusamus possimus,

                </p>
                <div class="info">
                    <p class="date">Auteur : Itsatsu</p>
                    <p class="date">Date du commentaire: 20/02/2023</p>
                </div>

            </article>
            <article class="commentaire" >
                <h3>Un commentaire</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsam commodi mollitia accusamus possimus,

                </p>
                <div class="info">
                    <p class="date">Auteur : Itsatsu</p>
                    <p class="date">Date du commentaire: 20/02/2023</p>
                </div>

            </article>
            <article class="commentaire" >
                <h3>Un commentaire</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsam commodi mollitia accusamus possimus,

                </p>
                <div class="info">
                    <p class="date">Auteur : Itsatsu</p>
                    <p class="date">Date du commentaire: 20/02/2023</p>
                </div>

            </article>
    </div>
{% endblock %}