{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/public/assets/style/allpost.css">
{% endblock %}
{% block title %}Les posts{% endblock %}

{% block body %}
    <div>
    <h2 >Les derniers posts</h2>
    </div>
    <div class="contenu">

        <div class="col">
            <article >
                <h2>Un titre</h2>
                <h3>Un chapo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsam commodi mollitia accusamus possimus,
                    qui ducimus soluta nam, asperiores laborum quibusdam alias sint adipisci repellat corporis, dignissimos ullam. Magni, eum.</p>

                <p class="date">Date de modification: 20/02/2023</p>
                <a href="posts/detail">Voir le post complet</a>

            </article>
            <article >
                <h2>Un titre</h2>
                <h3>un chapo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsam commodi mollitia accusamus possimus,
                    qui ducimus soluta nam, asperiores laborum quibusdam alias sint adipisci repellat corporis, dignissimos ullam. Magni, eum.</p>
                <p class="date">Date de modification: 20/02/2023</p>
                <a>Voir le post complet</a>
            </article>
            <article >
                <h2>Un titre</h2>
                <h3>un chapo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsam commodi mollitia accusamus possimus,
                    qui ducimus soluta nam, asperiores laborum quibusdam alias sint adipisci repellat corporis, dignissimos ullam. Magni, eum.</p>
                <p class="date">Date de modification: 20/02/2023</p>
                <a>Voir le post complet</a>
            </article></div>
        <div class="col">
            <article >
                <h2>Un titre</h2>
                <h3>un chapo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsam commodi mollitia accusamus possimus,
                    qui ducimus soluta nam, asperiores laborum quibusdam alias sint adipisci repellat corporis, dignissimos ullam. Magni, eum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsam commodi mollitia accusamus possimus,
                    qui ducimus soluta nam, asperiores laborum quibusdam alias sint adipisci repellat corporis, dignissimos ullam. Magni, eum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsam commodi mollitia accusamus possimus,
                    qui ducimus soluta nam, asperiores laborum quibusdam alias sint adipisci repellat corporis, dignissimos ullam. Magni, eum.</p>
                <p class="date">Date de modification: 20/02/2023</p>
                <a>Voir le post complet</a>
            </article>
            <article >
                <h2>Un titre</h2>
                <h3>un chapo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsam commodi mollitia accusamus possimus,
                    qui ducimus soluta nam, asperiores laborum quibusdam alias sint adipisci repellat corporis, dignissimos ullam. Magni, eum.</p>
                <p class="date">Date modification: 20/02/2023</p>
                <a>Voir le post complet</a>
            </article>
            <article >
                <h2>Un titre</h2>
                <h3>un chapo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsam commodi mollitia accusamus possimus,
                    qui ducimus soluta nam, asperiores laborum quibusdam alias sint adipisci repellat corporis, dignissimos ullam. Magni, eum.</p>
                <p class="date">Date modification: 20/02/2023</p>
                <a>Voir le post complet</a>
            </article>
        </div>
{% endblock %}