{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/public/assets/style/listepost.css">
{% endblock %}
{% block title %}Les posts{% endblock %}

{% block body %}
    <div>
    <h2 >Liste de tout les postes modifiables</h2>
    </div>
    <div class="contenu">
        <article class="post" >
            <h1>Ceci est un post qui parle d'openclassrooms</h1>
                <div class="bouton">
                    <button>Modifier</button>
                    <button>Supprimer</button>
                </div>
        </article>
        <article class="post" >
            <h1>Ceci est un post qui parle d'openclassrooms</h1>
                <div class="bouton">
                    <button>Modifier</button>
                    <button>Supprimer</button>
                </div>
        </article>
        <article class="post" >
            <h1>Ceci est un post qui parle d'openclassrooms</h1>
                <div class="bouton">
                    <button>Modifier</button>
                    <button>Supprimer</button>
                </div>
        </article>

    </div>
{% endblock %}