{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/public/assets/style/modifpost.css">
{% endblock %}
{% block title %}Editer une catégorie{% endblock %}

{% block body %}
    <div>
    <h2 >Modification d'une catégorie</h2>
    </div>
    <div class="contenu">

        <article class="post" >
            <form method="POST">
                <h2>Modifier le nom de la catégorie</h2>
                {% if errors is defined %}
                    {% for key, value in errors %}
                        <p class="alert alert-{{key}}">
                            {{ value }}
                        </p>
                    {% endfor %}
                {% endif %}
                <input type="texte" name="update[name]" placeholder="{{ categorie.name }}" value="{{ categorie.name }}" required>
                <input type="submit" value="Modifier">
            </form>
        </article>
        </div>
{% endblock %}