{% extends '/security/base.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/public/assets/style/login.css">
{% endblock %}
{% block body %}



    <h1>Réinitialisation du mot de passe</h1>
    {% if errors is defined %}
        {% for key, value in errors %}
            <p class="alert alert-{{key}}">
                {{ value }}
            </p>
        {% endfor %}
    {% endif %}

    <form method="POST">
        <input type="password" name="reset[password]" id="password" placeholder="Mot de passe">
        <input type="password" name="reset[confirmpass]" id="confirmpass" placeholder="Confirmation du mot de passe">
        <input type="submit" name="reset[submit]" id="sub" value="Réinitialisé le mot de passe">
    </form>
{% endblock %}