{% extends '/security/base.html.twig' %}
{% block title %}Création compte{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/public/assets/style/signup.css">
{% endblock %}
{% block body %}
    <h1>Création d'un compte</h1>
    <p>Vous avez un compte ?  <a href="login">Se connecter</a></p>


    <form action="">
        <input type="text" name="" id="pseudo" placeholder="Pseudo">
        <input type="email" name="" id="email" placeholder="Email">
        <input type="text" name="" id="pays" placeholder="Pays">
        <input type="password" name="" id="pass" placeholder="Mot de passe">
        <input type="password" name="" id="confirmpass" placeholder="Confirmation du mot de passe">
        <input type="submit" name="" id="sub" value="Connexion">
    </form>
{% endblock %}