{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/public/assets/style/allpost.css">
{% endblock %}
{% block title %}Dashboard:liste des roles{% endblock %}

{% block body %}
    <div>
        <h2>Dashboard Admin: liste des roles</h2>
    </div>
    <div class="contenu">

    <div class="col">
        {% for role in roles %}
            {% if loop.index is even %}
                <article>
                    <h2 style="text-align: center">{{ role.name }}</h2>
                </article>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col">
        {% for role in roles %}
            {% if loop.index is odd %}
                    <article>
                        <h2 style="text-align: center" >{{ role.name }}</h2>
                    </article>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}