{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/public/assets/style/modifpost.css">
{% endblock %}
{% block title %}Ajouter un role{% endblock %}

{% block body %}
    <div>
    <h2 >Création d'un role</h2>
    </div>
    <div class="contenu">

        <article class="post">
            <form method="POST">
                <h2>Ajouter un role</h2>
                {% if errors is defined %}
                    {% for key, value in errors %}
                        <p class="alert alert-{{key}}">
                            {{ value }}
                        </p>
                    {% endfor %}
                {% endif %}
                <label for="title" style="color: white">Nom du role</label>
                <input type="texte" name="create[name]" placeholder="Nom du role" id="title">
                <br>
                <input type="submit" value="Créer" name="create[submit]">
            </form>
        </article>
        </div>
{% endblock %}