{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/public/assets/style/index.css">
{% endblock %}
{% block body %}

    <div>
        <h2 >Je suis {{ info.fullname }}</h2>
    </div>
    <div class="contenu">
        <div class="post">
        <img src="photo.jpg" alt="Photo de profil">
        <p>{{ info.slogan }}</p>
        <a href="public/assets/uploads/cv.pdf" download><button>Télécharger mon CV</button></a>
        </div>
        <form action="#" method="post">

            <input type="text" id="nom" name="nom"  placeholder="Nom et prénom" required>

            <input type="email" id="email" name="email" placeholder="Email" required>

            <textarea id="message" name="message" rows="5" placeholder="Entrer votre message ici ..." required></textarea>
            <input type="submit" value="Envoyer">
        </form>
        <p>Retrouvez-moi sur :</p>
        <ul>
            <li><a href="https://github.com/{{ info.fullname }}">GitHub</a></li>
            <!-- Ajouter d'autres liens ici -->
        </ul>
    </div>
{% endblock %}